/* BASIC STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

/* NAV BAR */
#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
}

#nav_bar #sign_in {
  background: #f09e9e;
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
}

.nav-links {
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_in:hover {
  box-shadow: 1px 1px 5px #999;
}

#sign_in {
  color: #fff;
}

/* GOOGLE AREA */
.google #google_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 30px;
  padding-bottom: 20px;
}

.form {
  text-align: center;
}

#searchbox {
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #searchbox {
  padding: 0 8px;
}

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

/* Original from Martin*/

#urllist {
    color: #000000;
    position: absolute;
    top: 600px;
    left: 40%;
    bottom: 300px;
    width: auto;
    height: auto;
    margin-top: -9em;
    margin-left: -15em;
  /*  position: absolute;
    left: 200px; */
}

a[type="text"]{
  font="Arial";
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    min-width: 200px;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
